@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: rgb(63, 63, 63); 
}
body::after{
    content: "";    
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3026960784313726) 100%);
    opacity: 0.7;
}
/*album Page*/
.image-artist-album{
    border:0px;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 50px;
    background-color: white;
    color: white;
}
.bar-artist-texts{
    color: white;
}

.artist-name-span{
    font-size: small;
    display: block;
    padding-left: 5px;
    margin-bottom: 40px;
}
.image-name-back{
    background-color: rgb(68, 68, 68);
    width: 100%;
}
.artist-name{
    font-size: 60px;
    font-weight: bolder;
    align-items: flex-end;
}
.artist-name-container{
    display:flex;
    align-items: flex-end;
    justify-content:flex-start;
    align-content: center;
    width: 100%;
}
.icons-following{
    display:flex;
    align-items: flex-start;
    justify-content:flex-start
}
.follow-btn{
    margin-left: 30px;
}
.bi-three-dots{
    margin-left: 10px;
}
.bi-three-dots:hover{
    cursor: pointer;
    fill:green;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.4);
}
.follow-text{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 3px 20px;
    opacity: 0.9;

}
.follow-text:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    border-color: green;
    opacity: 1.0;
}
.bi-play-circle{
    fill: white;
    opacity: 0.9;
}
.bi-play-circle:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    fill: green;
    opacity: 1.0;
    
}


/* under popular section*/

/*table*/
.table-row-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    align-content:flex-end;
    cursor: pointer;
    color:white;
    font-weight: bold;
    font-size: 18px;
}
.table-album{
    align-items: center;
    justify-content:center;
    align-content:flex-end;
}
